*{
    margin: 0;
    padding: 0;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: rgba(0, 0,0, 0.35) 0px 5px 5px;
}

@media (max-width:1550px){

nav{
    flex-direction: column;
    align-items: center;
}

.right{
    flex-direction: row;
}
}

.image{
    width: 70px;
    height: 60px;
    margin-right: 50px;
}

.container{
    /* margin: 1000px 0px; */
    padding: 1vw 3vw;
    /* margin: auto */
    /* margin: 7px 0; */
    /* box-shadow: 0 0 10px greenyellow; */
    /* background-color: aqua; */
}

nav ul li{
    list-style: none;
    padding: 0 12px;
}

.section1{
    background-color: rgb(230, 230, 230);
    height: 70vh;
}

.marg{
    padding: 0 30px;
    height: 0px;
    width: 15px;
}

.input{
    width: 25rem;
    height:1rem;
    padding: 10px;
    margin-top: 10px;
    width: 600px;
    background-color: lightgrey;
    border-radius: 5px;
    font-weight: bold;
    border: .5px solid gray;

}

img{
    width: 30px;
    height: 30px;
}

.homeImg{
    padding: 10px 10px;
    height: 80%;
    width: 100%;
}

.section2{
    height: 30vh;
    background-color: rgb(237, 231, 231);
}

.homeImg2{
    height: 80%;
    width: 101%;
    border: 2px solid black;
}

.section3{
    height: 20vh;
}

.homeImg3{
    height: 80%;
    width: 100%;
}

.img1{
    height:100%;
    width: 50%;
}

footer{
    margin-top: 3px;
    height: 10vh;
    background-color: burlywood;
    text-align: center;
    top: 50%;
    left: 50%;
    border-radius: 1%;
}

footer p{
    padding-top: 10px;
    font-weight: 800;
    text-transform: uppercase;
    color: aliceblue;
}